@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>News</h1>
    <div id="News">

    </div>

<p class="Counter"><strong>News count:</strong> 3</p>
@section TimeUp
{
    @Html.Action("AppUpTime", "RequestData")    
}
@using (Ajax.BeginForm(new AjaxOptions { Url = Url.Action("Add","News"),OnSuccess = "insertNews" }))
{
    for (int i = 0; i < 3; i++)
    {
        <fieldset>
            <legend>News @(i + 1)</legend>
            <div><label>Topic:</label>@Html.Editor("[" + i + "].Tittle")</div>
            <div><label>Text:</label>@Html.Editor("[" + i + "].Content")</div>
        </fieldset>
    }
    <input type="submit" value="Add" />
}


