@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="~/Scripts/app/news.js"></script>
}
<div class="container-for-news">
<h1>News</h1>
    <div id="News">

    </div>

<p class="Counter"><strong>News count:</strong> 3</p>
@section TimeUp
{
    @Html.Action("AppUpTime", "RequestData")    
}
<div class="form-for-news">
@using (Ajax.BeginForm(new AjaxOptions { Url = Url.Action("Add","News"),OnSuccess = "insertNews" }))
{
    for (int i = 0; i < 3; i++)
    {
        <fieldset>
            <legend>News @(i + 1)</legend>
            <div class="Topic"><label>Topic:</label>@Html.Editor("[" + i + "].Tittle")</div>
            <div class="Content"><label>Text:</label>@Html.Editor("[" + i + "].Content")</div>
        </fieldset>
    }
    <input type="submit" value="Add" />
}
</div>
</div>

